body
{
  padding-bottom: 10em;
  font-family: font-family: 'Open Sans', sans-serif;
}

#banner
{
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

#nav_bar 
{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  display: block;
  margin: 0;
  margin-left: -0em;
  width: 100%;
  min-width: 1024px;
  height: 3.5em;
  max-height: 3.5em;
  background: #323232;
  background: rgba(0,0,0,0.8);
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav_links 
{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.nav_links li 
{
  list-style: none;
  text-align: center;
  flex-grow: 1;
}

nav ul li:first-child 
{
  border-left: none;
}
.nav_links li a 
{
  display: block;
  margin-top: .6em;
  text-decoration: none;
  color: white;
  padding: 10px 0;
}
@media (max-width: 430px) 
{
  
  ul {
    display: block;
  }

  nav {
    font-size: .8em;
    font: Open Sans;
  }
  
  nav ul li 
  {
    display: block;
    border-bottom: 1px solid #ccc;
  }

}

.nav_links li a:hover 
{
  color: #990000;
}

h2
{
	font-size: 3.5em;
	color: #383838;
  margin:0;
  padding:0;
  margin-left:15%;
  padding-bottom: 1.5 rem;
}
h2:hover
{
   color: black; 
}

summary::-webkit-details-marker {
    
  font-size: 100	%;
  color:#6E7B8Bs;
}
summary
{
	font-size: 1.85em ;
	margin-left: 20% ;
	color: grey;
	outline:none;
}
summary:hover
{
   	color: black; 
}

details
{
	text-indent: 1em ;	
}

 
#details li
{
 margin-left: 27.5%;
 text-indent: initial;
 font-size: 1.75em;
 list-style-type: circle;

}


#essays ul
{
	list-style-position: inside;
	list-style-type: circle;

}
#essays li 
{
	margin-top: 1%;
	margin-left: 25%;
	padding-left: -1em;
}
 
section {
  min-height: 100%;
  /* equal to footer height */
  margin-top: 30px;
  margin-left:5%;
  margin-right: 5%;
}
section:after {
  content: "";
  display: block;
}
footer, section:after {
  height: 1px; 
}

footer
{ 
    width: 100%;
    height: 25px;
    position: fixed;
    bottom: 0;
    text-align:center;
    z-index: -1 ;
}
figcaption
{
	color: #B0B0B0;
}
#jobs
{
    display: block;
    margin-left: 25%;
}

label
{
	display: block;
	margin-top: 20px;
	letter-spacing: 2px;
}

#title
{
  text-align: center;
  font-size: 3em;
  margin-top: 2em;
}

#alt-pages
{
margin-top: 6em;
}

#reports
{
  text-align: justify;
  margin-left: 5rem;
  margin-right: 5rem;
  margin bottom:5rem;
  font-size:2em;
}

#rating
{
  font-weight: bold;
  margin-left: 5rem;
  font-size:3em;
}

#keyfigures
{
  font-weight: bold;
  margin-left: 5rem;
  font-size:2.5em;
}



